*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

*sublime*
.buildpath
.project
.workspace
.settings
.htaccess
!*/.htaccess

node_modules

/backup
/tmp

# Editor files
Session.vim
/.emacs.desktop
/.emacs.desktop.lock
*.sublime-project
*.sublime-workspace
sftp-config.json
.idea

# Ignore logs etc.
wp-content/plugins/all-in-one-seo-pack/all_in_one_seo_pack.log
wp-content/cache

# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/w3tc-config/*
wp-content/cache/supercache/*
wp-content/plugins/bwp-minify/cache/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/limit-login-attempts
wp-content/mu-plugins/wpengine-common
wp-content/mysql.sql


# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi

# Dev plugins
wp-content/plugins/force-regenerate-thumbnails/
wp-content/plugins/duplicate-post/
wp-content/plugins/developer/
wp-content/plugins/debug-bar/
wp-content/plugins/debug-bar-console/
wp-content/plugins/log-viewer/
wp-content/plugins/ewww-image-optimizer
wp-content/plugins/query-monitor

# Log files
*.log
error_log
access_log
.sass-cache

# Cache
wp-content/plugins/bwp-minify/cache/


